<p class="caption"><span class="caption-text">See also:</span></p>
<ul>
  <li><a href="https://github.com/casadi/casadi/releases/download/{{ .Site.Params.casadi_release }}/casadi-users_guide-v{{ .Site.Params.casadi_version }}.pdf">PDF version</a></li>
  <li><a href="../api/html/">C++ API</a></li>
  <li><a href="../python-api">Python API</a></li>
  <li><a href="https://github.com/casadi/casadi/releases/download/{{ .Site.Params.casadi_release }}/casadi-example_pack-v{{ .Site.Params.casadi_version }}.zip">Example pack</a></li>
</ul>  
</p>
