    <footer>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto text-center">
            <ul id="social" class="list-inline">
              {{ range .Site.Menus.footer }}
                <li class="list-inline-item">
                  <a href="{{ .URL }}" title="{{ .Name }}">
                    <i class="fa fa-{{ .Name }}"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
            <p class="copyright">{{ markdownify .Site.Params.copyright }}</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- TODO get rid of CDNs? -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->

    <!-- Bootstrap -->
    <script src="{{ .Site.BaseURL }}assets/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"></script>

    <!-- HighlightJS -->
    <!-- <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script> -->

    <!-- HighlightJS-line-numbers.js -->
    <!-- <script src="{{ .Site.BaseURL }}js/highlightjs-line-numbers.min.js"></script> -->

    <!-- Multisnip -->
    <script src="{{ .Site.BaseURL }}js/multisnip.js"></script>

    <!-- Custom scripts -->
    <script src="{{ .Site.BaseURL }}js/scripts.js"></script>

    <!-- Github API -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/github-api/3.0.0/GitHub.bundle.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/github-api.js"></script> -->

    <!-- MathJax -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>

    {{ partial "analytics" . }}
  </body>

</html>
