    <footer>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto text-center">
            <ul id="social" class="list-inline">
              {{ range .Site.Menus.footer }}
                <li class="list-inline-item">
                  <a href="{{ .URL }}" title="{{ .Name }}">
                    <i class="fa fa-{{ .Name }}"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
            <p class="copyright">Copyright {{ now.Year }}.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper.js for Bootstrap dropdown -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{ .Site.BaseURL }}_js/bootstrap.min.js"></script>

    <!-- Custom scripts -->
    <script src="{{ .Site.BaseURL }}_js/scripts.js"></script>

    <!-- MathJax -->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML">
</script>

    {{ partial "analytics" . }}
  </body>

</html>
