    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- <hr> -->
            <p class="copyright">{{ markdownify .Site.Params.copyright }}</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- jQuery -->
    <!-- TODO include in repo -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ .Site.BaseURL }}js/bootstrap-3.3.7/bootstrap.min.js"></script>

    <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
    <script src="{{ .Site.BaseURL }}js/multisnip.js"></script>

    {{ partial "analytics.html" . }}
  </body>

</html>
