{{ $currentNode := . }}

<nav class="nav-side">
  <span class="header">
    Docs v{{ .Site.Params.casadi_version }}
  </span>
  <ul class="entries">
    {{ range .Site.Menus.docs.ByWeight }}
      {{ $.Scratch.Set "currentMenuEntry" . }}
      {{ template "nav-side-entry" $currentNode }}
    {{ end }}
  </ul>
  <span class="footer">
    <p>Matlab <a href="#" title="Toggle code language"><i class="fa fa-toggle-on"></i></a> Python</p>
    <a href="#" title="Show on one page"><i class="fa fa-align-justify bigger"></i></a>
    <a href="#" title="Download as PDF"><i class="fa fa-download bigger"></i></a>
  </span>
</nav>

{{ define "nav-side-entry" }}
  {{ $currentNode := . }}
  {{ $currentMenuEntry := .Scratch.Get "currentMenuEntry" }}
  {{ $isCurrent := eq .Permalink ($currentMenuEntry.URL | absURL | printf "%s") }}
  {{ $isActive := hasPrefix .Permalink (absURL $currentMenuEntry.URL) }}

  {{ if $currentMenuEntry.HasChildren }}
    <li class="fold-out {{ if $isActive }}active{{ end }}">
      <a href="{{ $currentMenuEntry.URL }}" {{ if not $isActive }}class="collapsed"{{ end }}>{{ $currentMenuEntry.Name }}</a>
      <a href="#{{ $currentMenuEntry.Name | urlize }}" {{ if not $isActive }}class="collapsed"{{ end }} data-target="#{{ $currentMenuEntry.Name | urlize }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ $currentMenuEntry.Name | urlize }}">
        <i class="fa fa-caret-down"></i>
      </a>
    </li>
    <div class="collapse{{ if $isActive }} show{{ end }}" id="{{ $currentMenuEntry.Name | urlize }}">
      <ul>
        {{ range $currentMenuEntry.Children }}
          {{ $.Scratch.Set "currentMenuEntry" . }}
          {{ template "nav-side-entry" $currentNode }}
        {{ end }}
      </ul>
    </div>
  {{ else }}
    <li class="{{ if $isActive }}active {{ end }}{{ if $isCurrent }}current{{ end }}">
      <a href="{{ $currentMenuEntry.URL }}">{{ $currentMenuEntry.Name }}</a>
      {{ if $isCurrent }}
        <ul id="scrollspy"></ul>
      {{ end }}
    </li>

  {{ end }}
{{ end }}
