<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.InSection ($currentPage.Site.GetPage "section" .Identifier)) }}
        <li class="nav-item active">
        {{ else }}
        <li class="nav-item">
        {{ end }}
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
