
  <p class="caption"><span class="caption-text">Contents:</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="#document-api">1. Expression tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="#classes">2. Classes</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#dm">2.1. DM</a></li>
<li class="toctree-l2"><a class="reference internal" href="#sx">2.2. SX</a></li>
<li class="toctree-l2"><a class="reference internal" href="#mx">2.3. MX</a></li>
<li class="toctree-l2"><a class="reference internal" href="#sparsity">2.4. Sparsity</a></li>
<li class="toctree-l2"><a class="reference internal" href="#function">2.5. Function</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="#solvers">3. Solvers</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#nlp">3.1. NLP</a></li>
<li class="toctree-l2"><a class="reference internal" href="#qp">3.2. QP</a></li>
<li class="toctree-l2"><a class="reference internal" href="#integrator">3.3. Integrator</a></li>
<li class="toctree-l2"><a class="reference internal" href="#rootfinding">3.4. Rootfinding</a></li>
<li class="toctree-l2"><a class="reference internal" href="#linear-systems">3.5. Linear systems</a></li>
</ul>
</li>
</ul>

