{{ $page := .page }}
{{ $site := .site }}

{{ if eq .id "base" }}
  <ul class="nav">
{{ else }}
  <ul class="nav collapse" id="{{ .id }}">
{{ end }}
  {{ range .menu }}
    {{ if .HasChildren }}
      <li>
        <!-- <a href="{{ .URL }}">{{ .Name }}</a> -->
        <a href="#{{ .Name | urlize }}" data-target="#{{ .Name | urlize }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ .Name | urlize }}">{{ .Name }}<span class="caret arrow"></span></a>
          <!-- If the menu item has children, include this partial template again (recursively) -->
          {{ partial "sidebar_recur.html" (dict "menu" .Children "page" $page "site" $site "id" (.Name | urlize) ) }}
      </li>
    {{ else }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
