{{ $page := .page }}
{{ $site := .site }}

{{ if eq .id "base" }}
  <!-- <ul class="nav"> -->
{{ else }}
  <!-- <ul class="nav collapse" id="{{ .id }}"> -->
{{ end }}
  {{ range .menu }}
    {{ if .HasChildren }}
      <a href="#{{ .Name | urlize }}" class="list-group-item" data-target="#{{ .Name | urlize }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ .Name | urlize }}">{{ .Name }}<span class="caret arrow"></span></a>
      <div class="collapse" id="#{{ .Name | urlize }}">
        <!-- If the menu item has children, include this partial template again (recursively) -->
        {{ partial "sidebar_recur.html" (dict "menu" .Children "page" $page "site" $site "id" (.Name | urlize) ) }}
      </div>
    {{ else }}
      <a href="{{ .URL }}" class="list-group-item">{{ .Name }}</a>
    {{ end }}
  {{ end }}
<!-- </ul> -->

<!-- <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">Download</a>

<a href="#menu2" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
  <span class="d-none d-md-inline">Item</span>
</a>
<div class="collapse" id="menu2">

  <a href="#" class="list-group-item" data-parent="#menu2">3.1</a>

  <a href="#menu2sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
  <div class="collapse" id="menu2sub2">
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 a</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 b</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 c</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 d</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 e</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 f</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 g</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 h</a>
    <a href="#" class="list-group-item" data-parent="#menu2sub2">3.2 i</a>
  </div>

  <a href="#" class="list-group-item" data-parent="#menu2">3.3</a>

</div> -->
