/* Custom variables */
/* overload bootstrap variables */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* GLOBAL */
html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f8f8f8;
  font-smooth: always;
  -webkit-font-smoothing: antialiased; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

em {
  font-style: normal;
  color: #dc0000; }

a {
  text-decoration: none;
  color: #0366d6; }

a:hover, a:focus {
  text-decoration: underline;
  color: #0366d6; }

/* compensating for fixed-height header */
a.offset-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden; }

h1 {
  font-size: 2.00rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.10rem; }

h6 {
  font-size: 1.00rem; }

/* MAIN */
#main {
  background-color: #fff; }

nav.nav-top + #main {
  margin-top: 50px; }

#main.container, #main.container-fluid {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding-top: 2rem;
  padding-bottom: 2rem; }

#main hr.sep {
  margin: 2rem auto; }

/* ***********************
 *  SITE SPECIFIC STYLES
 * *********************** */
.container table + p {
  margin-top: 1rem; }

.container p:last-child {
  margin-bottom: 0; }

/* CARD LAYOUTS */
.card {
  margin-bottom: 10px; }

a.card-header,
a.card-header:hover,
a.card-header:focus {
  color: black;
  text-decoration: none; }

.card-footer {
  line-height: 0.7em; }

.card-footer small {
  font-size: 0.7em;
  font-weight: 300; }

.nav.card-header {
  color: black;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  border-width: 0 0 0px 0;
  border-style: solid;
  border-color: #dc0000;
  margin: 0;
  line-height: 50px; }

.nav.card-header a {
  color: black;
  margin: 0;
  padding: 0 20px;
  -webkit-transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1); }

.nav.card-header a.nav-link.active {
  background-color: inherit;
  color: #dc0000;
  -webkit-box-shadow: 0 -3px 0 0 #dc0000 inset;
          box-shadow: 0 -3px 0 0 #dc0000 inset; }

.nav.card-header a.nav-link:hover {
  color: #dc0000; }

.card-header .release-info {
  float: right;
  font-size: 15px; }

.card-body .card-title {
  margin-bottom: .5em; }

.reading-time-short > i {
  margin-right: 5px; }

.card-footer .reading-time-short {
  float: left; }

.reading-time {
  display: block;
  font-style: italic;
  font-size: 0.75em;
  line-height: 1em;
  margin-bottom: 2em; }

.card-footer.release-info {
  font-size: 15px; }

.text-muted {
  color: rgba(0, 0, 0, 0.6) !important; }

figure {
  width: 100%;
  text-align: center; }

figure.default img {
  max-width: 100%;
  max-height: 100vh;
  margin: 0; }

img {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  display: block; }

img.card-img-top {
  width: 100%; }

figure figcaption h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px; }

@media (min-width: 1000px) {
  figure.default img {
    max-width: 50%; }
  img:not(.card-img-top) {
    max-width: 50%; } }

.card table {
  width: 100%; }

table {
  width: 100%;
  max-width: 100%;
  margin: auto; }

table, th, td {
  padding: .5rem; }

table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

table tbody tr:nth-child(odd) {
  background-color: #f8f8f8; }

@media (min-width: 1000px) {
  table {
    max-width: 50%; } }

/* NAVIGATION */
nav.nav-top {
  background-color: #dc0000; }

nav.nav-top .container {
  background-image: url("../img/bg_header.svg");
  background-repeat: repeat-x;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: left; }

nav.nav-top.navbar {
  border: none;
  padding: 0;
  font-size: 15px;
  line-height: 50px;
  z-index: 5; }

nav.nav-top.navbar .navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

nav.nav-top.navbar .navbar-nav > li > a {
  padding: 0px 20px;
  color: #fff; }

nav.nav-top.navbar .navbar-nav > li.active > a {
  font-weight: 500; }

nav.nav-top.navbar .navbar-nav > li > a:focus,
nav.nav-top.navbar .navbar-nav > li > a:hover {
  -webkit-box-shadow: 0 -3px 0 0 #fff inset;
          box-shadow: 0 -3px 0 0 #fff inset; }

nav.nav-top a.navbar-brand {
  width: 100px;
  height: 36px;
  margin: 7px 25px;
  padding: 0;
  background: url("../img/logo_2017_horizontal_white.svg") no-repeat center;
  -webkit-background-size: contain;
          background-size: contain; }

nav.nav-side {
  background-color: #f8f8f8;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  color: black;
  z-index: 1;
  min-height: 75vh; }

nav.nav-side .header {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 1em;
  margin: 1.5em 0;
  font-weight: 500; }

nav.nav-side ul {
  list-style: none;
  padding: 0;
  margin-left: 1em;
  font-size: 0.9em; }

nav.nav-side a, nav.nav-side a:focus, nav.nav-side a:active {
  color: #000;
  text-decoration: none; }

nav.nav-side a:hover {
  color: #dc0000; }

nav.nav-side ul.entries {
  font-size: 0.9em;
  line-height: 2rem;
  margin: 1.5em 1em; }

nav.nav-side ul.entries li.active a {
  color: #dc0000; }

nav.nav-side ul.entries ul li {
  padding-left: 0.5em; }

nav.nav-side ul.entries ul li.current {
  font-weight: 400;
  border-left: 2px solid #dc0000; }

nav.nav-side a i.fa-caret-down {
  float: right;
  line-height: inherit;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in; }

nav.nav-side a.collapsed i.fa-caret-down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in; }

nav.nav-side .footer {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0 1em;
  margin: 3em 0 1.5em 0;
  font-size: 0.8em; }

nav.nav-side .footer, nav.nav-side .footer a:not(:hover) {
  color: rgba(0, 0, 0, 0.6); }

nav.nav-side .footer i.bigger {
  font-size: 1.2rem; }

nav.nav-side .footer a + a {
  margin-left: 10px; }

/* LANDING PAGE STYLE */
#landing-cover {
  display: table;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../img/scott-webb-260726-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1; }

#landing-cover .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#landing-cover .logo {
  max-width: 40em;
  width: 100%;
  padding: 2em; }

#landing-cover + #main {
  font-size: 1.1em;
  line-height: 45px; }

/* FOOTER */
footer {
  color: #fff;
  background-color: #dc0000;
  padding: 50px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 5; }

footer #social {
  font-size: 2em; }

footer .copyright {
  font-size: 0.75em;
  margin: 0; }

footer .list-inline-item a {
  color: #fff;
  -webkit-transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1); }

footer .list-inline-item a:hover {
  color: black; }

footer .list-inline-item:not(:last-child) {
  margin-right: 10px; }

/* CODE STYLES */
/* inline code */
code, code.hljs {
  display: inline;
  background-color: #f8f8f8; }

/* code blocks */
pre > code, pre > code.hljs {
  display: block;
  padding: 5px 15px; }

/* MULTISNIP EXTENSION */
div.multisnip {
  visibility: visible; }

div.multisnip pre {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  height: auto;
  border-top: #dc0000 1px solid; }

div.multisnip pre > code {
  display: block; }

div.multisnip ul.nav-tabs-multisnip > :first-child,
div.multisnip ul.nav-tabs-multisnip > :first-child > a:hover {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px; }

div.multisnip ul.nav-tabs-multisnip > :last-child,
div.multisnip ul.nav-tabs-multisnip > :last-child > a:hover {
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px; }

div.multisnip ul.nav-tabs-multisnip > li {
  color: #000;
  background-color: #f8f8f8;
  cursor: default; }

div.multisnip ul.nav-tabs-multisnip > li.isshown {
  color: #fff;
  font-weight: 400;
  background-color: #dc0000; }

div.multisnip ul.nav-tabs-multisnip > li > a {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 16px; }

div.multisnip ul.nav-tabs-multisnip > li > a:hover {
  -webkit-box-shadow: 0 -2px 0 0 #dc0000 inset;
          box-shadow: 0 -2px 0 0 #dc0000 inset; }

#main.docs {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

#main.docs .content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 2; }

#main.docs .content .summary {
  font-size: 1.1em; }

@media (max-width: 768px) {
  #main.docs .menu {
    display: none; } }

/* highlight active menu */
/* closed state */
/* open state */
/* level 1*/
/* level 2*/
/* level 3*/
/* BLOCKQUOTE */
blockquote {
  margin-left: 2rem;
  padding: 1rem 2rem 1rem 100px;
  position: relative;
  color: black;
  background-color: #f8f8f8; }

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 25px;
  top: 17px;
  font-family: serif;
  font-size: 100px;
  line-height: 60px;
  font-weight: bold; }
