/* Full Page Image Header Area */
#top.header {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 70%;
  position: relative;
  background: url(../img/scott-webb-260726-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
  color: #000;
}

#top .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#top .logo {
  max-width: 30em;
  width: 100%;
  padding: 2em;
}

/*.buttonbox {
    margin: 2em 0 4em;
}*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .header {
    display: table;
    height: 70%;
    width: 100%;
    position: relative;
    background: url(../img/desk-mini.jpg) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    background-color: black;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .header {
    display: table;
    height: 70%;
    width: 100%;
    position: relative;
    background: url(../img/desk-long.jpg) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    background-color: black;
  }
}

#main {
  /* none */
}

/* Cards */
.card {
    padding: 50px 0;
    color: #000;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
/*.card h2 {
    font-size: 32pt;
    line-height: 1.7;
}*/
/*.card a {
    color: rgb(255,0,0);
}*/
/*.card a:hover {
  text-decoration: none;
}*/
