/* GLOBAL */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(248,249,250);
}

em {
  font-style: normal;
  /*font-weight: 400;*/
  color: rgb(220, 0, 0);
}

a {
  text-decoration: none;
  /*color: rgb(220, 0, 0);*/
  color: #0366d6;
}

a:hover, a:focus {
  text-decoration: underline;
  /*color: rgb(220, 0, 0);*/
  color: #0366d6;
}
/* compensating for fixed-height header */
a.offset-anchor {
  display: block;
  position: relative;
  top: -66px;
  visibility: hidden;
}

/* NAVIGATION */
nav.navbar {
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 40px;
}

nav.navbar .navbar-nav>li>a {
  padding: 0;
  line-height: 56px;
}

nav.navbar .navbar-nav>li>a:focus,
nav.navbar .navbar-nav>li>a:hover {
  color: #000 !important;
  box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
}

nav a.navbar-brand {
  width: 75px;
  height: 40px;
  margin: 8px 0;
  padding: 0;
  background: url('../img/logo_2017.svg') no-repeat center;
  background-size: contain;
}

/* TOP */
#top {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 70%;
  position: relative;
  background: url(../img/scott-webb-260726-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
  color: #000;
  margin-top: 56px;
}

#top .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#top .logo {
  max-width: 30em;
  width: 100%;
  padding: 2em;
}

/* MAIN */
#main {
  background-color: #fff;
}
nav+#main {
  margin-top: 56px;
}

#main .container {
  padding: 40px 0;
}

#main hr.sep {
  margin: 40px auto;
}

/* FOOTER */
footer {
  color: #000;
  font-size: 1.25em;
  padding: 50px 0;
}

footer .copyright {
  font-size: 0.6em;
  margin: 0;
}

footer .list-inline-item a {
  color: #000;
}

footer .list-inline-item:not(:last-child) {
  margin-right: 10px;
}

/* ***********************
 *  SITE SPECIFIC STYLES
 * *********************** */

/* GET CASADI */
table.release {
  width: 100%;
    text-align: right;
}

table.release th {
  text-align: center;
}

table#overview-releases {
  width: 80%;
  margin: auto;
}
table#overview-releases col.binary {
  width: auto;
}

table#overview-releases .btn-download-binaries:hover {
  color: rgb(220,0,0);
}
table#overview-releases .btn-download-binaries>.fa {
  font-size: 20px;
}

div.card {
  margin-bottom: 10px;
}
.card-header.collapsed {
  border-bottom: 0px;
}
.card-footer {
  line-height: 0.5em;
}
.card-footer small {
  font-size: 0.5em;
}

a.card-header {
  color: #000;
}
a.card-header:hover,
a.card-header:focus {
  color: #000;
  text-decoration: none;
}
