/* Global Styles */
html,
body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

* {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6em;
}

body nav {
  font-size: 0.8em;
  line-height: 1em;
}

.nav i {
  width: auto;
  height: auto;
}
