/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6em;
  padding-top: 50px;
}

body nav {
  font-size: 0.75em;
  line-height: 1em;
}

em {
  font-style: normal;
  font-weight: 400;
  color: rgb(220, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: rgb(220, 0, 0);
}

.navbar-default {
  border: none;
}

.navbar-default {
  /*background-color: rgb(255,255,255) !important;*/
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #000;
  box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
}

.nav i {
  width: auto;
  height: auto;
}

.navbar-brand {
  width: 75px;
  height: 44px;
  margin: 3px 0;
  background: url('../img/logo_2017.svg') no-repeat center;
  background-size: contain;
}

/* Footer */
footer {
  padding: 100px 0;
}

footer a {
  color: black;
}

footer ul {
  font-size: 1.25em;
}

footer .copyright {
  font-size: 0.5em;
}

#main .panel {
  text-align: left;
}

table.release {
  width: 100%;
}

table.release th {
  text-align: center;
}
table.release tbody {
  text-align: right;
}

table#overview-releases {
  width: 80%;
  margin: auto;
}
table#overview-releases col.binary {
  width: auto;
}

table#overview-releases .btn-download-binaries:hover {
  color: rgb(220,0,0);
}
table#overview-releases .btn-download-binaries>.fa {
  font-size: 20px;
}
