/* This is multisnip */

multisnip {
  visibility: hidden;
}
multisnip pre,
multisnip pre.hljs {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  /* padding: 0; */
  /* border: 0px; */
  border-top: rgb(220,0,0) 1px solid;
  /* border-radius: 0px; */
}
multisnip ul.nav-tabs-multisnip>:first-child,
multisnip ul.nav-tabs-multisnip>:first-child>a:hover  {
  border-top-left-radius: 10px;
}
multisnip ul.nav-tabs-multisnip>:last-child,
multisnip ul.nav-tabs-multisnip>:last-child>a:hover {
  border-top-right-radius: 10px;
}
multisnip ul.nav-tabs-multisnip>li {
  color: #000;
  background-color: rgb(248, 248, 248);
  cursor: default;
}
multisnip ul.nav-tabs-multisnip>li.isshown {
  color: #fff;
  font-weight: 400;
  background-color: rgb(220,0,0);
}
multisnip ul.nav-tabs-multisnip>li>a {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
}
multisnip ul.nav-tabs-multisnip>li>a:hover {
  box-shadow: 0 -2px 0 0 rgb(220,0,0) inset;
}
