pre {
  margin: 0;
  border: 0px;
  border-radius: 0px;
}

multisnip {
  visibility: hidden;
}

multisnip ul.nav-tabs-multisnip {
  font-size: 12px;
  border: none;
}

multisnip ul.nav-tabs-multisnip>:first-child {
  border-top-left-radius: 5px !important;
}

multisnip ul.nav-tabs-multisnip>:last-child {
  border-top-right-radius: 5px !important;
}

multisnip ul.nav-tabs-multisnip>li {
  color: #000;
  margin: 0px;
  background-color: rgb(248, 248, 248);
}

multisnip ul.nav-tabs-multisnip>li.isshown {
  color: #fff !important;
  background-color: rgb(220,0,0) !important;
}

multisnip ul.nav-tabs-multisnip>li>a {
  line-height: 1em;
  padding: 5px 10px;
  border: 0px !important;
  margin: 0px;
}

/*multisnip ul.nav-tabs-multisnip>li>a:focus,*/
multisnip ul.nav-tabs-multisnip>li>a:hover {
  color: #000;
  box-shadow: 0 -2px 0 0 rgb(220,0,0) inset;
  background-color: inherit;
}

multisnip ul.nav-tabs-multisnip>li.isshown>a:hover {
  color: #fff !important;
  background-color: rgb(220,0,0) !important;
}
