pre {
  /*width: 100%;*/
  margin: 0;
  /*padding: 0;*/
}

/*pre.tabbed {

}

pre.tabbed tab {
  width: auto;
  height: 24px;
  background-color: #fff;
  color: #000;
}*/

multisnip {
  /*width: 250px;*/
  visibility: hidden;
}

multisnip ul.nav-tabs-multisnip {
  border: none;
  background-color: rgb(240,240,240);
}

multisnip ul.nav-tabs-multisnip li {
  margin: 0px !important;
}

multisnip ul.nav-tabs-multisnip li a {
  line-height: 1em;
  padding: 5px 10px;
  color: #000 !important;
  border: 0px !important;
  border-radius: 0px;
  margin: 0px;
}
multisnip ul.nav-tabs-multisnip li a:hover {
  background-color: rgb(220,0,0);
}

/*multisnip pre {
  width: 500px;
  border: none;
}*/
