#main.docs {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
}
#main.docs .content {
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  z-index: 2;

  max-width: 100%;

  @include media-breakpoint-up(lg) {
    max-width: calc(100% - 250px);
  }
}
#main.docs .content p {
  clear: both;
}

a.headerlink {
  opacity: 0;
  transition: all .1s linear;
  color: $casadi-color-text-muted;
  margin-left: 5px;
}

#main.docs .content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;

    &:hover a.headerlink {
      opacity: 1.0;
    }
  }

  .section {
    margin-bottom: 1em;
    position: relative;
    display: block;
    clear: both;
    width: 100%;
  }

  .toctree-wrapper.compound {
    width: 100%;
  }

  table {
    font-size: .8em;
  }

  // table pre {
  //   padding: 0;
  // }
}

#main.docs .sidebar {

  .casadi-versions {
    border-top: #fff 1px solid;
    &+.nav-side {
      padding-top: 0;
    }
    & .dropdown-menu {
      width: 100%;
      margin: 0;
    }
    & .dropdown-item {
      font-size: .875rem;
      font-weight: 300;
      padding: 0 1em;
      width: 100%;
    }
  }
  .casadi-versions, button {
    width: 100%;
    font-weight: 400;

    .btn:focus,
    .btn.active:focus {
        outline: none!important;
        box-shadow: none;
    }
  }
}
