figure {
  text-align: center;

  &.default img {
    max-width: 100%;
    margin: auto;
    @include media-breakpoint-up(lg) {
      max-width: 75%;
    }
  }

  &.default figcaption {
    display: none;
  }
}

img {
  // width: 100%;
  max-width: 100%;
  margin: auto;
  display: block;

  &.card-img-top {
    width: 100%;
  }

  &:not(.card-img-top) {
    @include media-breakpoint-down(md) {
      max-width: 75%;
    }
  }
}

figure figcaption h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}
