/* FOOTER */
footer {
  color: #fff;
  background-color: $casadi-color-footer-background;
  padding: 50px 0;
  flex: 1;
  z-index: 5;
}
footer #social {
  font-size: 2em;
}
footer .copyright {
  font-size: 0.75em;
  margin: 0;
}
footer .list-inline-item a {
  color: #fff;
  transition: all .15s cubic-bezier(0.42,0,0.58,1);
}
footer .list-inline-item a:hover {
  color: $casadi-color-text;
}
footer .list-inline-item:not(:last-child) {
  margin-right: 10px;
}
