/* LANDING PAGE STYLE */
#landing-cover {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/scott-webb-260726-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  // color: #000;
}
#landing-cover .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#landing-cover .logo {
  max-width: 40em;
  width: 100%;
  padding: 2em;
}
