/* LANDING PAGE STYLE */
#top {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 70%;
  position: relative;
  background: url(../img/scott-webb-260726-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
  color: #000;
  margin-top: 56px;
}
#top .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#top .logo {
  max-width: 30em;
  width: 100%;
  padding: 2em;
}
