/* NAVIGATION */
nav#top-nav {
  margin: 0 15%;
}
nav#top-nav.navbar {
  border: none;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  z-index: 2;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $casadi-color-accent;
  justify-content: space-between;
}
nav#top-nav.navbar .navbar-nav>li>a {
  padding: 5px 20px;
  line-height: 56px;
  color: #000;
}
nav#top-nav.navbar .navbar-nav>li.active>a {
  color: $casadi-color-accent;
}
nav#top-nav.navbar .navbar-nav>li>a:focus,
nav#top-nav.navbar .navbar-nav>li>a:hover {
  box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
}
nav#top-nav a.navbar-brand {
  width: 75px;
  height: 40px;
  margin: 8px 25px 8px 25px;
  padding: 0;
  background: url('../img/logo_2017.svg') no-repeat center;
  background-size: contain;
}
nav#top-nav #btn-search {
  border: 0;
  width: 66px;
  height: 66px;
  padding: 15px 0px;
  float: left;
}
nav#top-nav #btn-search:focus {
  box-shadow: none;
}
nav#top-nav #field-search {
  border: 0;
  width: 150px;
  // height: 40px;
  margin: 13px;
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
  display: none;
  background: rgba(255,255,255,0.75);
}
