/* NAVIGATION */
nav#top-nav {
  background-color: $casadi-color-navbar-background;
}
nav#top-nav .container {
  background-image: url('../img/bg_header.svg');
  background-repeat: repeat-x;
  // background-size: auto 50px;
  background-size: cover;
  background-position: left;
}
nav#top-nav.navbar {
  border: none;
  padding: 0;
  font-size: 15px;
  line-height: $casadi-top-nav-height;
  z-index: 5;
}
nav#top-nav.navbar .navbar-collapse {
  justify-content: flex-end
}
nav#top-nav.navbar .navbar-nav>li>a {
  padding: 0px 20px;
  color: #fff;
}
nav#top-nav.navbar .navbar-nav>li.active>a {
  // color: $casadi-color-accent;
  font-weight: 500;
}
nav#top-nav.navbar .navbar-nav>li>a:focus,
nav#top-nav.navbar .navbar-nav>li>a:hover {
  box-shadow: 0 -3px 0 0 #fff inset;
}
nav#top-nav a.navbar-brand {
  width: 100px;
  height: ($casadi-top-nav-height) - 14px;
  margin: 7px 25px;
  padding: 0;
  background: url('../img/logo_2017_horizontal_white.svg') no-repeat center;
  background-size: contain;
}
// nav#top-nav #btn-search {
//   border: 0;
//   width: 66px;
//   height: 66px;
//   padding: 15px 0px;
//   float: left;
// }
// nav#top-nav #btn-search:focus {
//   box-shadow: none;
// }
// nav#top-nav #field-search {
//   border: 0;
//   width: 150px;
//   // height: 40px;
//   margin: 13px;
//   padding: 10px;
//   font-size: 15px;
//   line-height: 20px;
//   display: none;
//   background: rgba(255,255,255,0.75);
// }
