.sidebar {
  flex: 0 0 250px;
  z-index: 1;

  .sticky-offset {
    top: $casadi-nav-top-height;
  }

  nav {
    max-height: calc(100vh - #{$casadi-nav-top-height});
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
      // border-radius: 10px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 3px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      // border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: $casadi-color-accent;
    }
  }
}

nav.nav-side {
  background-color: $casadi-color-accent-gray;
  color: $casadi-color-text;
  min-height: 75vh;
  padding: 1em 0;
}
nav.nav-side .caption {
  display: block;
  width: 100%;
  text-align: center;
  padding: .5em 1em;
  margin: 0;
  font-weight: 500;
}
nav.nav-side ul {
  list-style: none;
  padding: 0;
  margin-left: 1em;
  font-size: 0.9em;
}
nav.nav-side a,
nav.nav-side a:focus,
nav.nav-side a:active,
nav.nav-side pre,
nav.nav-side code,
nav.nav-side em {
  color: unset;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
nav.nav-side a:hover {
  color: $casadi-color-accent;
}
// style upmost list level
// nav.nav-side ul.entries {
//   font-size: 0.9em;
//   line-height: 2rem;
//   margin: 1.5em 1em;
// }
// nav.nav-side ul.entries li.active a {
//   color: $casadi-color-accent;
// }
// nav.nav-side ul.entries ul li {
//   padding-left: 0.5em;
// }
// nav.nav-side ul.entries ul li:not(.fold-out) {
//   // border-left: 1px solid #000;
// }
// nav.nav-side ul.entries ul li.current {
//   font-weight: 400;
//   border-left: 2px solid $casadi-color-accent;
// }
// nav.nav-side a i.fa-caret-down {
//   float: right;
//   line-height: inherit;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   transform: rotate(0deg);
//   transition: all .15s ease-in;
// }
// nav.nav-side a.collapsed i.fa-caret-down {
//   -webkit-transform: rotate(90deg);
//   -moz-transform: rotate(90deg);
//   -o-transform: rotate(90deg);
//   -ms-transform: rotate(90deg);
//   transform: rotate(90deg);
//   transition: all .15s ease-in;
// }
// nav.nav-side .footer {
//   width: 100%;
//   text-align: center;
//   display: inline-block;
//   padding: 0 1em;
//   margin: 3em 0 1.5em 0;
//   font-size: 0.8em;
// }
// nav.nav-side .footer, nav.nav-side .footer a:not(:hover) {
//   color: $casadi-color-text-secondary;
// }
// nav.nav-side .footer i.bigger {
//   font-size: 1.2rem;
// }
// nav.nav-side .footer a+a {
//   margin-left: 10px;
// }

// IMPORTED TODO
@media only screen and (min-width:960px) {
  // #menu {
      // float: left;
      // height: 100%;
      // margin-bottom: 96px;
      // padding-top: 80px
  // }
  // #menu,
  // #menu .scrollable {
  //     position: static
  // }
}
// @media only screen and (max-width:959px) {
//   #toggle#menu:checked~.overlay,
//   .toggle#menu .overlay {
//     width: 100%;
//     height: 100%
//   }
//   #menu {
//     -webkit-transform: translate3d(-262px, 0, 0);
//     transform: translate3d(-262px, 0, 0);
//     -webkit-transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1);
//     transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1);
//     transition: transform .25s cubic-bezier(.4, 0, .2, 1);
//     transition: transform .25s cubic-bezier(.4, 0, .2, 1), -webkit-transform .25s cubic-bezier(.4, 0, .2, 1)
//   }
//   .no-csstransforms3d #menu {
//     display: none
//   }
//   #menu {
//     background: #fff
//   }
//   // #menu {
//   //   position: fixed;
//   //   z-index: 4
//   // }
//   #toggle-search:checked~.main .results,
//   #menu,
//   .toggle-search .results {
//     height: 100%
//   }
// }
//
// @media only screen and (min-width:1200px) {
//   #menu .scrollable .wrapper hr {
//     width: 48px
//   }
// }
// @media only screen and (orientation:portrait) {
//   .ios.standalone #menu .scrollable {
//     top: 124px
//   }
// }
// @media print {
//   #menu {
//     display: none
//   }
// }
