.col-body {
  flex-direction: row;
  flex: 1;
  display: flex;
}
.col-content {
  flex: 1;
}
.col-content.content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-nav {
  flex: 0 0 250px;
  order: -1;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  overflow: auto;
  min-height: 100vh;
  /* max-height: calc(100vh - 55px); */
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(248,249,250);
}
.sidebar .nav-sidebar ul {
  list-style: none;
  padding: 0px;
  text-align: left;
  width: 100%;
}
.sidebar .nav-sidebar ul li {
  display: block;
}
.sidebar .nav>li {
  position: relative;
  display: block;
  width: 100%;
}
.sidebar .nav-sidebar ul li a, .sidebar .nav-sidebar ul li a:focus, .sidebar .nav-sidebar ul li a:hover {
  border-bottom: none;
  text-decoration: none;
}
.sidebar .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.sidebar .nav-sidebar .nav ul {
  padding: 0px 0px 0px 15px;
}
.sidebar .nav-sidebar ul {
  list-style: none;
  padding: 0px;
  text-align: left;
}
.sidebar .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .collapse {
  display: none;
}
.sidebar .nav-sidebar .caret {
  float: right;
  margin-top: 10px;
}
.sidebar .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
