table {
  width: 100%;
  max-width: 100%;
  margin: auto;
  // table-layout: fixed; // TODO avoids tables exceeding 100%, but makes e.g. footnotes-tables in docs being formatted weirdly
}
table, th, td {
  padding: .5rem;
}
table thead {
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
table tbody tr:nth-child(odd) {
  background-color: $casadi-color-accent-gray;
}
