/* Custom variables */
$casadi-color-accent:     rgb(220,   0,   0);
$casadi-color-accent-gray: rgb(248, 248, 248);
$casadi-color-hyperlink:  rgb(  3, 102, 214);
$casadi-color-navbar-background: rgba(255, 255, 255, 0.85);
$casadi-color-body-background: rgb(255, 255, 255); /*rgb(248, 249, 250);*/
$casadi-color-container-background: rgb(255, 255, 255);
$casadi-color-footer-background: $casadi-color-accent; /*rgb(248, 249, 250);*/

$casadi-top-nav-height: 50px;



/* overload bootstrap variables */
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-family-base: "Roboto", sans-serif;   // the general font
$enable-rounded: false;                       // disable rounded borders
$border-radius: 3px;

$primary:       $casadi-color-accent !default;
$secondary:     rgb(3,102,214) !default;

$light:         rgb(250,250,250) !default;
$dark:          rgb(150,150,150) !default;
