@import 'variables';

/* GLOBAL */
html,
body {
  // height: 100%;
  width: 100%;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $casadi-color-body-background;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
em {
  font-style: normal;
  color: $casadi-color-accent;
}
a {
  text-decoration: none;
  color: $casadi-color-hyperlink;
}
a:hover, a:focus {
  text-decoration: underline;
  color: $casadi-color-hyperlink;
}
/* compensating for fixed-height header */
a.offset-anchor {
  display: block;
  position: relative;
  top: -($casadi-nav-top-height)-10px;
  visibility: hidden;
}

h1 {
  font-size: 2.00rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.10rem;
}
h6 {
  font-size: 1.00rem;
}

// .container {
//   padding-left: 2rem;
//   padding-right: 2rem;
// }
// .row {
//   margin-left: -2rem;
//   margin-right: -2rem;
// }
// .col {
//   padding-left: 2rem;
//   padding-right: 2rem;
// }

/* MAIN */
#main {
  background-color: #fff;
}
nav.nav-top+#main {
  margin-top: $casadi-nav-top-height;
}
#main.container, #main.container-fluid {
  background-color: $casadi-color-container-background;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#main hr.sep {
  margin: 2rem auto;
}

/* ***********************
 *  SITE SPECIFIC STYLES
 * *********************** */
.container table+p {
  margin-top: 1rem;
}
.container p:last-child {
  margin-bottom: 0;
}

/* CARD LAYOUTS */
.card {
  margin-bottom: 10px;
}
a.card-header,
a.card-header:hover,
a.card-header:focus {
  color: #000;
  text-decoration: none;
}
.card-footer {
  line-height: 0.7em;
}
.card-footer small {
  font-size: 0.7em;
  font-weight: 300;
}
.nav.card-header {
  color: #000;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  border-width: 0 0 0px 0;
  border-style: solid;
  border-color: $casadi-color-accent;
  margin: 0;
  line-height: 50px;
}
.nav.card-header a {
  color: #000;
  // border-radius: 10px;
  margin: 0;
  padding: 0 20px;
  transition: all .1s cubic-bezier(0.42,0,0.58,1);
}
.nav.card-header a.nav-link.active {
  background-color: inherit;
  color: $casadi-color-accent;
  box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
}
.nav.card-header a.nav-link:hover {
  // box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
  color: $casadi-color-accent;
}
.card-header .release-info {
  float: right;
  font-size: 15px;
  color: gray;
}
.card-footer.release-info {
  font-size: 15px;
  color: gray;
}

@import 'figure';
@import 'table';
@import 'nav-top';
@import 'nav-side';
@import 'landing';
@import 'footer';
@import 'code';
@import 'docs';
