@import '../../assets/bootstrap-4.1.0/scss/functions';
@import '../../assets/bootstrap-4.1.0/scss/variables';

@import 'variables';

@import '../../assets/bootstrap-4.1.0/scss/mixins/breakpoints';


/* GLOBAL */
html,
body {
  // height: 100%;
  width: 100%;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $casadi-color-body-background;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
body {
  padding-top: $casadi-nav-top-height;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
em {
  font-style: normal;
  font-weight: 400;
  color: inherit;
}
a {
  text-decoration: none;
  color: $casadi-color-text-hyperlink;
}
a:hover, a:focus {
  text-decoration: underline;
  color: $casadi-color-text-hyperlink;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.00rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.10rem;
}
h6 {
  font-size: 1.00rem;
}

/* MAIN */
#main {
  background-color: #fff;
}

#main.container, #main.container-fluid {
  background-color: $casadi-color-container-background;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}

#main hr.sep {
  margin: 2rem auto;
}

/* ***********************
 *  SITE SPECIFIC STYLES
 * *********************** */
 // Fix top-navbar offset on id-links
 .content .anchor {
   padding-top: $casadi-link-offset;
   margin-top: -$casadi-link-offset;
 }

.container table+p {
  margin-top: 1rem;
}
.container p:last-child {
  margin-bottom: 0;
}

.text-muted {
  color: $casadi-color-text-muted !important;
}

/* CARD LAYOUTS */
.card {
  margin-bottom: 10px;
}
a.card-header,
a.card-header:hover,
a.card-header:focus {
  color: $casadi-color-text;
  text-decoration: none;
}
.card-footer {
  line-height: 0.7em;
}
.card-footer small {
  font-size: 0.7em;
  font-weight: 300;
}
.nav.card-header {
  color: $casadi-color-text;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  border-width: 0 0 0px 0;
  border-style: solid;
  border-color: $casadi-color-accent;
  margin: 0;
  line-height: 50px;
}
.nav.card-header a {
  color: $casadi-color-text;
  // border-radius: 10px;
  margin: 0;
  padding: 0 20px;
  transition: all .1s cubic-bezier(0.42,0,0.58,1);
}
.nav.card-header a.nav-link.active {
  background-color: inherit;
  color: $casadi-color-accent;
  box-shadow: 0 -3px 0 0 $casadi-color-accent inset;
}
.nav.card-header a.nav-link:hover {
  // box-shadow: 0 -3px 0 0 rgb(220,0,0) inset;
  color: $casadi-color-accent;
}
.card-header .release-info {
  float: right;
  font-size: 15px;
}
.card-body .card-title {
  margin-bottom: .5em;
}
.reading-time-short>i {
  margin-right: 5px;
}
.card-footer .reading-time-short {
  float: left;
}
.reading-time {
  display: block;
  font-style: italic;
  font-size: 0.75em;
  line-height: 1em;
  margin-bottom: 2em;
}
.card-footer.release-info {
  font-size: 15px;
}

.collapse-switch {
  transition: display .15s cubic-bezier(0.42,0,0.58,1);
  & .bait {
    display: block;
  }
  & .collapse.show+.bait {
    display: none;
  }
}

.wordcloud {
  display: none;
}

@import 'figure';
@import 'table';
@import 'nav-top';
@import 'nav-side';
@import 'landing';
@import 'footer';
@import 'code';
@import 'docs';
@import 'blockquote';
